@charset 'utf-8';

#contact_form .form_group{
    margin-bottom: 20px;
}
#contact_form label{
    display: block;
    margin-bottom: 5px;
}
#contact_form input, #contact_form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
#contact_form input:focus, #contact_form textarea:focus{
    outline: 1px solid #c72424;
    border-color: #f7c08a;
}